<!doctype HTML>
<html>
	<head>
		<title>Projects | MadEwink portfolio</title>
		{% include file_name=links.html %}
		<script src="{{ base_url }}/js/theme.js"></script>
	</head>
	<body onload=setStyleFromCookie()>
		{% include file_name=header.html title="My projects" %}
		<div id="content">
			<div id="intro">
				<p>On this page you will find all my projects, but organized in categories and without description.</p>
			</div>
			<div id="projects">
				<div class="project-post">
					<h2 class="project-title"><a class="project-title" href="">Game development</a></h2>
					<div class="project-description">
						<a href=""><img id="project-image" src="{{ base_url }}/img/games_icon.png" alt="Game projects icon" class="game-projects-icon"></a>
						<ul>
							<li><a href="https://gitlab.com/lesjeuxagogo/tidyingforgodot">Tidying for Godot</a> (2021)</li>
							<li><a href="https://gitlab.com/MadEwink/ld46">Polygons of Light</a> (2020)</li>
							<li><a href="{{ base_url }}/projects/biome.html">Biome</a> (2019-2020)</li>
							<li><a href="https://gitlab.com/MadEwink/opengl-jin">Eat or Die</a> (2019)</li>
							<li><a href="https://framagit.org/MadEwink/projet-ete">Sunny Weather</a> (2019)</li>
							<li><a href="https://github.com/MadEwink/JIN-GPGE-schmup">Schmup</a> (2019)</li>
							<li><a href="https://github.com/NguyenRichard/Platformer2D">Squishy Square</a> (2019)</li>
							<li><a href="https://github.com/MadEwink/law-enforcer">Law Enforcer</a> (2019)</li>
						</ul>
					</div>
					<ul class="project-tags">
						<li>Game developement</li>
						<li>Unity</li>
						<li>Godot Engine</li>
						<li>C#</li>
						<li>C++</li>
					</ul>
				</div>
				<div class="project-post">
					<h2 class="project-title"><a class="project-title" href="">Development</a></h2>
					<div class="project-description">
						<a href=""><img id="project-image" src="{{ base_url }}/img/dev_icon.png" alt="Development icon"></a>
						<ul>
							<li><a href="https://framagit.org/MadEwink/adventofcode2018">Advent of Code 2018</a> (2018-2020)</li>
							<li><a href="https://framagit.org/MadEwink/asventofcode2019">Advent of Code 2019</a> (2019-2020)</li>
							<li><a href="https://github.com/MadEwink/numap">Numap</a> (2019)</li>
							<li><a href="https://github.com/MadEwink/numamma">Numamma</a> (2019)</li>
						</ul>
					</div>
					<ul class="project-tags">
						<li>Development</li>
						<li>C</li>
						<li>ADA</li>
					</ul>
				</div>
				<div class="project-post">
					<h2 class="project-title"><a class="project-title" href="">Others</a></h2>
					<div class="project-description">
						<a href=""><img id="project-image" src="{{ base_url }}/img/others_icon.png" alt="Others Icon"></a>
						<ul>
							<li><a href="https://github.com/MadEwink/warbot-jin">Warbot</a> (2020)</li>
							<li><a href="https://github.com/matthias4217/JADE-gestion-ressources">Resource Manager</a> (2020)</li>
						</ul>
					</div>
					<ul class="project-tags">
						<li>School Projects</li>
					</ul>
				</div>
				<!-- New post
				<div class="project-post">
					<h2 class="project-title"><a class="project-title" href=""></a></h2>
					<div class="project-description">
					<a href=""><img id="project-image" src="{{ base_url }}/img/" alt=""></a>
						<p></p>
					</div>
					<ul class="project-tags">
						<li>Tag</li>
					</ul>
				</div>
				--!>
			</div>
		</div>
		{% include file_name=footer.html %}
	</body>
</html>
