* {
	border-color: #050514;
	color: white;
}

body {
	background-image: url("{{ base_url }}/img/hex_bg.png");
}

a {
	color: #ff99cc;
}

header {
	background-color: #0a0a29;
}

button.theme {
	background-color: #1f1f7a;
}

#nav-tail-links {
	background-color: #1f1f7a;
}

#intro {
	background-color : #141452;
}

.project-post {
	background-color: #1f1f7a;
}

#main-content {
	background-color: #1f1f7a;
}

a.project-title {
	color: white;
	text-shadow: 1px 1px 3px #adadeb;
}

ul.project-tags > li {
	background-color: #191966;
}

#main-content #figure {
	background-color: #191966;
}

footer {
	background-color: #0a0a29;
}
