* {
	border-color: #ebebfa;
	color: black;
}

body {
	background-image: url("{{ base_url }}/img/hex_bg.png");
}

a {
	color: #800040;
}

header {
	background-color: #c2c2f0;
}

button.theme {
	background-color: #7070db;
}

#nav-tail-links {
	background-color: #7070db;
}

#intro {
	background-color : #9999e6;
}

.project-post {
	background-color: #7070db;
}

#main-content {
	background-color: #7070db;
}

a.project-title {
	color: black;
	text-shadow: 1px 1px 3px #0f0f3d;
}

ul.project-tags > li {
	background-color: #8585e0;
}

#main-content #figure {
	background-color: #8585e0;
}

footer {
	background-color: #c2c2f0;
}

.game-projects-icon#project-image {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url("{{ base_url }}/img/games_icon_light.png") no-repeat;
	padding-left: 150px;
	width: 150px;
	height: 156px;
}
