<!doctype HTML>
<html>
	<head>
		<title>Not found | MadEwink portfolio</title>
		{% include file_name=links.html %}
		<script src="{{ base_url }}/js/theme.js"></script>
	</head>
	<body onload=setStyleFromCookie()>
		{% include file_name=header.html %}
		<div id="content">
			<div id="intro">
				<h2>Not found !</h2>
				<p>The page you were looking for was not found. Please return to the previous page or to the <a href="{{ base_url }}">main page</a>. Please contact me if you think this is a mistake or if there is a broken link. You can also <a href="{{ new_issue_url }}">open an issue</a> on the <a href="{{ portfolio_repo_url }}">gitlab repository</a>.</p>
			</div>
		</div>
		{% include file_name=footer.html %}
	</body>
</html>
