<!doctype HTML>
<html>
	<head>
		<title>MadEwink portfolio</title>
		{% include file_name=links.html %}
		<script src="{{ base_url }}/js/theme.js"></script>
	</head>
	<body onload=setStyleFromCookie()>
		{% include file_name=header.html %}
		<div id="content">
			<div id="intro">
				<h2>Welcome !</h2>
				<p>This is my portfolio. You will find some of the projects I did or participated to, with links to the project repository. You can find more details in the project's readme.</p>
			</div>
			<div id="projects">
				{% make-posts %}
			</div>
		</div>
		{% include file_name=footer.html %}
	</body>
</html>
