<header>
	<div id ="nav">
		<a href="{{ base_url }}/"><img id="nav-pp" src="{{ base_url }}/img/pp.png" alt="Profile picture"></a>
		<br/>
		<div id="nav-title">{{ title="MadEwink" }}</div>
		<ul class="nav-links">
			<li><a href="https://github.com/MadEwink">Github</a></li>
			<li><a href="https://gitlab.com/MadEwink">Gitlab</a></li>
			<li><a href="https://framagit.org/MadEwink">Framagit</a></li>
		</ul>
		<div id="nav-tail">
			<div>
				<button class="theme" id="light-theme-button" style="display:none" onClick="setLightTheme()">Switch to light theme</button>
				<button class="theme" id="dark-theme-button" style="display:none" onClick="setDarkTheme()">Switch to dark theme</button>
			</div>
			<ul class="nav-links" id="nav-tail-links">
				<li><a href="{{ base_url }}/">Home</a></li>
				<li><a href="{{ base_url }}/projects">Projects</a></li>
				<li><a href="{{ base_url }}/about.html">About</a></li>
			</ul>
		</div>
	</div>
</header>
