<link href="{{ base_url }}/css/style.css" rel="stylesheet">
<link href="{{ base_url }}/css/darkstyle.css" id="Dark-theme" title="Dark" rel="alternative stylesheet">
<link href="{{ base_url }}/css/lightstyle.css" id="Light-theme" title="Light" rel="alternative stylesheet">
<link rel="icon" href="{{ base_url }}/img/favicon.ico">
